table {
    width: 100%;
}
.crouselImage {
    height: 350px!important;

} 

.zebra {
    background-color: rgba(0, 0, 0, 0.05)!important;
}
.warning {
    background-color: rgba(227, 112, 12, 0.5)!important;
}

.error {
    background-color: rgba(239, 42, 42, 0.5)!important;
}

body {
    background-color: #F0F0F0;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}