<div class="main-content">
    <div class="container-fluid">

        <form [formGroup]="itemForm" class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon" style="cursor: pointer;">
                                <i class="material-icons" (click)="onAdd()">playlist_add</i>
                            </div>
                            <h4 class="card-title">Items</h4>
                            
                        </div>
                        
                        <div class="card-body">
                            <div class="toolbar">
                            </div>
                            <div class="material-datatables">
                                <table mat-table [dataSource]="dataSource" matSort>
                                    <ng-container matColumnDef="storePartNumber">
                                        <th mat-header-cell *matHeaderCellDef> 
                                                <div class="col-sm-11">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Stock Code"
                                                                (keydown)="applyFilter()"
                                                                formControlName="storePartNumber">
                                                        </mat-form-field>
                                                    </div>
                                                     </th>
                                        <td mat-cell *matCellDef="let element"> {{element.storePartNumber}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="barcode">
                                        <th mat-header-cell *matHeaderCellDef>
                                                <div class="col-sm-11">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Barcode"
                                                                (keydown)="applyFilter()"
                                                                formControlName="barcode">
                                                        </mat-form-field>
                                                    </div>
                                                      </th>
                                        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="itemDescription">
                                        <th mat-header-cell *matHeaderCellDef>
                                                <div class="col-sm-11">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Item Description"
                                                                (keydown)="applyFilter()"
                                                                formControlName="itemDescription">
                                                        </mat-form-field>
                                                    </div>
                                                     </th>
                                        <td mat-cell *matCellDef="let element"> {{element.itemDescription}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="minStockQuantity">
                                        <th mat-header-cell *matHeaderCellDef> Min Stock Quantity </th>
                                        <td mat-cell *matCellDef="let element"> {{element.minStockQuantity}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="price">
                                        <th mat-header-cell *matHeaderCellDef> Updated Price </th>
                                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="currentQuantity">
                                        <th mat-header-cell *matHeaderCellDef> Available Qty </th>
                                        <td mat-cell *matCellDef="let element"> {{element.currentQuantity}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="btn">
                                        <th mat-header-cell *matHeaderCellDef>
                                        #    
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                             <a class="btn btn-link btn-info btn-just-icon like"
                                                (click)="onEdit(element.uuid)"><i class="material-icons">edit</i></a>
                                            <a class="btn btn-link btn-danger btn-just-icon remove"
                                                (click)="onDelete(element.uuid)"><i class="material-icons">close</i></a>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="excel">
                                            <th mat-header-cell *matHeaderCellDef>
                                                    <button  type="button" mat-raised-button color="primary" (click)="applyFilter('X')">Export as Excel</button>
                                            </th>
                                            <td mat-cell *matCellDef="let element"></td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row [class]="setStyle(row,i)"  *matRowDef="let i =index;let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalElement" [pageSize]="pageSize"
                                    [pageSizeOptions]="[10,25,50, 100,150]" (page)="serverdata($event)">
                                </mat-paginator>

                            </div>

                        </div>
                        <div class="cart-footer"> 
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="barcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" *ngIf="false">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center!important" id="printThis" (click)="printDiv()">
                <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue"
                    [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
                    [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                    [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
                    [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin"
                    [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft"
                    [bc-margin-right]="marginRight"></ngx-barcode>
            </div>
            <div>
                <button mat-raised-button (click)="printDiv()">
                    <mat-icon>print</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>