<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="profileForm" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Profile
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mail</label>
                                        <input type="text" class="form-control" formControlName="email" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Contact Number</label>
                                        <input type="text" class="form-control" formControlName="contactNumber"
                                            disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                    <img src="{{image.downloadUrl}}"
                                                        onerror="this.onerror=null; this.src='./assets/img/placeholder.jpg'">
                                                </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-round btn-rose btn-file">
                                                <span class="fileinput-new" [class.disabled]="operationLock">Add
                                                    Photo</span>
                                                <span class="fileinput-exists"
                                                    [class.disabled]="operationLock">Change</span>
                                                <input type="file" name="..." (change)="onFileChanged($event)"
                                                    #fileInput [disabled]="operationLock" />
                                            </span>
                                            <br />
                                            <a href="#" class="btn btn-danger btn-round fileinput-exists"
                                                [class.disabled]="operationLock" data-dismiss="fileinput"><i
                                                    class="fa fa-times"></i>Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>